html,
body,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
var,
i,
ul,
li,
article,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
footer,
header,
nav {
  display: block;
}

a img {
  border: 0;
}

/*  Typography presets
  ------------------  */

h1 {
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
}

h2 {
  font-size: 42px;
  line-height: 48px;
}

h3 {
  font-size: 26px;
  line-height: 36px;
}

h4 {
  font-size: 22px;
  line-height: 30px;
}

body {
  font: normal normal normal 16px/24px Georgia, serif;
}

/*    Default Layout: 992px.
    Gutters: 24px.
    Outer margins: 48px.
    Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
  font: normal normal normal 1em/1.5em 'Georgia', sans-serif;
  background: #fff url(image_path('noise.png')) top left repeat;
  margin: 0 auto;
}

a {
  color: #ff7100;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
  position: relative;
  top: 1px;
  left: 1px;
}

a:visited {
  color: #c45501;
}

p {
  margin-bottom: 24px;
  color: #666;
}

main h1,
main h2,
main h3,
main h4 {
  font-weight: normal;
  margin-bottom: 0.45em;
}

main a {
  font-family: 'Inconsolata', 'Lucida Grande', 'Lucida Sans', sans-serif;
  font-size: 24px;
}

body {
  width: 896px;
  padding: 24px 48px 84px;
  color: rgb(60, 60, 60);
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

main {
  width: 528px;
  padding-left: 252px;
}

header {
  height: 50px;
  width: 160px;
  font-family: 'Inconsolata', 'Lucida Grande', 'Lucida Sans', sans-serif;
  clear: both;
  position: relative;
}

#illustration {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
}

header h1 {
  float: left;
}

header a {
  color: #333;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header a:active {
  text-decoration: none;
}

header ul {
  width: 160px;
  position: absolute;
  top: 180px;
  left: 48px;
  text-indent: 0;
}

header ul li {
  font-size: 18px;
  line-height: 2em;
  list-style-type: none;
  text-align: left;
}

footer {
  border-top: 1px solid #f0f0f0;
  padding-top: 22px;
  color: #666;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
}

footer p {
  margin-bottom: 11px;
}

/*    Tablet Layout: 768px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

/*@media only screen and (max-width: 991px) {*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    width: 712px;
    padding: 24px 28px 60px;
  }

  main {
    width: 488px;
    padding-left: 210px;
  }

  #illustration {
    top: 400px;
    width: 210px;
  }
}

/*    Mobile Layout: 320px.
    Gutters: 24px.
    Outer margins: 34px.
    Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252*/

@media only screen and (max-width: 767px) {
  body {
    width: 290px;
    padding: 48px 0px 60px;
  }

  main {
    padding-top: 22px;
    clear: both;
  }

  header ul {
    position: static;
    width: 68px;
    float: right;
    padding-right: 20px;
  }

  header ul li {
    line-height: 1.7em;
  }

  header {
    width: 256px;
  }

  header h1 {
    width: 140px;
    position: relative;
    top: -8px;
    left: -15px;
  }

  header img {
    width: 100%;
    height: auto;
  }

  main {
    padding-left: 0;
  }

  .large,
  main h2 {
    font-size: 32px;
    line-height: 1.2em;
  }

  .bigger,
  h3 {
    font-size: 22px;
    line-height: 1.4em;
    font-weight: bold;
  }

  .big,
  h4 {
    font-size: 18px;
    line-height: 1.4em;
    font-weight: bold;
  }

  #illustration {
    display: none;
    visibility: hidden;
  }
}

/*    Wide Mobile Layout: 480px.
    Gutters: 24px.
    Outer margins: 22px.
    Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    width: 436px;
    padding: 36px 22px 48px;
  }

  header {
    width: 160px;
    height: 30px;
  }

  header ul {
    float: left;
    padding-left: 20px;
  }

  main {
    padding-top: 0;
    clear: none;
    width: 252px;
    padding-left: 160px;
  }

  #illustration {
    visibility: visible;
    display: block;
    top: 350px;
    width: 180px;
    z-index: -1;
  }
}
