<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Information and links regarding teaching programming to children." name="Description">
    <meta content="children, kid, programming, coding, tutorials, agentsheets, alice, phrogram, robomind, sgp, scratch, simple, squeak, etoys, toontalk, logo, robomind" name="Keywords">

    <title>
      <% if content_for?(:title) %>
        <%= yield_content(:title) %>
      <% else %>
        Happy Nerds - Programming Links for Kids
      <% end %>
    </title>
    <style>
      <%= sitemap.resources.find{ |r| r.source_file.match('site.css') }.render %>
    </style>
  </head>
  <body>
    <%= partial 'nav' %>
    <main>
      <%= yield %>

      <%= image_tag('schneidersitz.png', id: 'illustration') %>
    </main>

    <footer>
      <p>&copy; <a href="http://citizen428.net">Michael Kohl</a> (<a href="http://twitter.com/citizen428">@citizen428</a>) 2009-2018, CSS by <a href="http://fadr.at">Fadrat</a>.</p>
    </footer>
  </body>
</html>

