<% content_for(:title) do %>
  <%= category_name(category) %> | HappyNerds
<% end %>

<h2><%= category_name(category) %></h2>

<% sites = data.sites.select { |site| site.categories.include?(category) } %>
<% sites.sort_by { |site| site[:name] }.each do |site| %>
    <article>
      <a href="<%= site[:url] %>"><%= site[:name] %></a>
      <p><%= site[:description] %></p>
    </article>
<% end %>
