<header>
  <a href="/">
    <%= image_tag('logo.png') %>
  </a>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/sites/windows">Windows</a>
      </li>
      <li>
        <a href="/sites/mac">Mac</a>
      </li>
      <li>
        <a href="/sites/linux">Linux</a>
      </li>
      <li>
        <a href="/sites/browser">Browser</a>
      </li>
      <li>
        <a href="/sites/ios">iOS</a>
      </li>
      <li>
        <a href="/sites/raspberry">Raspberry Pi</a>
      </li>
      <li>
        <a href="/sites/books">Books</a>
      </li>
      <li>
        <a href="/sites/meta">Meta</a>
      </li>
    </ul>
  </nav>
</header>
