---
layout: false
directory_index: false
---
<% pages = sitemap.resources.find_all { |p| p.source_file.match(/\.html/) } %>
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<% pages.each do |p| %>
  <url>
    <loc>
      https://www.happynerds.net/<%= p.destination_path.gsub('index.html', '') %>
    </loc>
  </url>
<% end %>
</urlset>
